<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/StateTable.tt" #><#
	
	usings.Add("System");
	usings.Add("Stareater.Galaxy");
	usings.Add("Stareater.Players");
	
	modifer = "partial";
	
	Generate("Stareater.GameData", "ColonizationProject",
		new DataInfo("Owner", "Player").FromIndexer(),
		new DataInfo("Destination", "Planet").FromIndexer()
	);
#>