<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/CustomTuple.tt" #><#
	
	usings.Add("System.Collections.Generic");
	usings.Add("Stareater.Galaxy");
	usings.Add("Stareater.Players");
	
	Generate("Stareater.GameData", "GalaxyRemap",
		new DataInfo("Stars", "IDictionary<StarData, StarData>"),
		new DataInfo("Planets", "IDictionary<Planet, Planet>")		
	);
#>