<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/StateTable.tt" #><#
	
	usings.Add("System");
	
	modifer = "partial";
	SaveNeedsObjectIndexer = false;
	LoadNeedsObjectDeindexer = false;

	Generate("Stareater.GameData", "PlanetIntelligence",
		new DataInfo("Explored", "double").CopyOnly().InitValue("Unexplored"),
		new DataInfo("LastVisited", "int").CopyOnly().InitValue("NeverVisited")
	);
#>