<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/StateTable.tt" #><#
	
	usings.Add("System");
	usings.Add("Stareater.Players");
	
	modifer = "partial";
	
	Generate("Stareater.GameData", "TechnologyProgress",
		new DataInfo("Owner", "Player").FromIndexer(),
		new DataInfo("Topic", "Technology").SaveIdCode(),
		new DataInfo("Level", "int"),
		new DataInfo("InvestedPoints", "double").SaveKey("Invested")
	);
#>