<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/StateTable.tt" #><#
	
	usings.Add("System");
	usings.Add("Stareater.Players");
	
	Generate("Stareater.GameData", "Treaty",
		new DataInfo("Party1", "Player").FromIndexer(),
		new DataInfo("Party2", "Player").FromIndexer()
	);
#>