*.csproj.user
*.dll
*.exe
*.pdb
*.suo
.nuget/
bin/
packages/
obj/
release/
build/images/galaxyTextures.*
build/settings.txt
documentation/Graphs/*.png
*.lastcodeanalysissucceeded
*.CodeAnalysisLog.xml