*.csproj.user
*.dll
*.exe
*.pdb
*.suo
.nuget/
.vs/
bin/
packages/
obj/
release/
build/images/galaxyTextures.*
build/settings.txt
documentation/Graphs/*.png
source/Stareater.UI.WinForms/maps/*.xml
source/Stareater.UI.WinForms/players/*.xml
*.lastcodeanalysissucceeded
*.CodeAnalysisLog.xml
/source/Stareater.Core/AppData/Expressions/*.cs.old
