<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/StateTable.tt" #><#
	
	modifer = "public";
	usings.Add("System.Collections.Generic");
	usings.Add("Stareater.GameData");
	usings.Add("Stareater.Players");
	
	Generate("Stareater.Galaxy", "Wormhole",
		new DataInfo("FromStar", "StarData"),
		new DataInfo("ToStar", "StarData")
	);
#>