<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/CustomTuple.tt" #><#
	
	modifer = "public";
	usings.Add("System.Collections.Generic");
	usings.Add("Stareater.Galaxy");
	usings.Add("Stareater.Players");
	
	Generate("Stareater.Galaxy.Builders", "WormholeEndpoints",
		new DataInfo("FromIndex", "int"),
		new DataInfo("ToIndex", "int")
	);
#>