<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKADN" version="1.1.0" targetFramework="net40-Client" />
  <package id="IKADN.IKON" version="1.1.0" targetFramework="net40-Client" />
  <package id="NGenerics" version="1.4.1.0" targetFramework="net40-Client" />
  <package id="OpenTK_GLControl" version="1.0.0" targetFramework="net40-Client" />
</packages>