<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/Collections/IndexedCollectionBase.tt" #><#
	
	namespaceName = "Stareater.GameData.Tables";
	usings.Add("Stareater.Galaxy");
	usings.Add("Stareater.Utils.Collections");
	usings.Add("NGenerics.DataStructures.Mathematical");
	
	Generate("PlanetsCollection", "Planet",
		new ViewInfo("StarSystem", "StarData", "Star", ViewType.Collection)
	);
#>