<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/StateTable.tt" #><#
	
	usings.Add("System");
	usings.Add("System.Collections.Generic");
	usings.Add("System.Linq");
	
	modifer = "partial";

	Generate("Stareater.GameData.Databases.Tables", "ConstructionOrders",
		new DataInfo("SpendingRatio", "double").Public(),
		new DataInfo("Queue", "List", new GenericParamInfo("Constructable").SaveIdCode()).CopyOnly()
	);
#>