<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/Collections/IndexedCollectionBase.tt" #><#
	
	namespaceName = "Stareater.GameData.Databases.Tables";
	usings.Add("Stareater.Players");
	
	Generate("ResearchProgressCollection", "ResearchProgress",
		new ViewInfo("Of", "Player", "Owner", ViewType.Collection)
	);
#>