<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/Collections/IndexedCollectionBase.tt" #><#
	
	namespaceName = "Stareater.GameData.Databases.Tables";
	usings.Add("Stareater.Galaxy");
	
	Generate("PlanetCollection", "Planet",
		new ViewInfo("At", "StarData", "Star", ViewType.Collection)
	);
#>