<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/Collections/IndexedCollectionBase.tt" #><#
	
	namespaceName = "Stareater.GameData.Databases.Tables";
	partial = true;
	usings.Add("Stareater.Galaxy");
	usings.Add("Stareater.GameLogic");
	usings.Add("Stareater.Players");
	
	Generate("PlayerProcessorCollection", "PlayerProcessor",
		new ViewInfo("Of", "Player", "Player", ViewType.Scalar)
	);
#>