<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/Collections/IndexedCollectionBase.tt" #><#
	
	namespaceName = "Stareater.GameData.Databases.Tables";
	usings.Add("Stareater.Galaxy");
	usings.Add("NGenerics.DataStructures.Mathematical");
	
	Generate("StarCollection", "StarData",
		new ViewInfo("Positions", "Vector2D", "Position", ViewType.Collection)
	);
#>