<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/Collections/IndexedCollectionBase.tt" #><#
	
	namespaceName = "Stareater.GameData.Databases.Tables";
	usings.Add("Stareater.Utils.Collections");
	
	Generate("TechnologiesCollection", "Technology",
		new ViewInfo("Codes", "string", "IdCode", ViewType.Collection)
	);
#>