<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/Collections/IndexedCollectionBase.tt" #><#
	
	namespaceName = "Stareater.GameData.Databases.Tables";
	usings.Add("Stareater.Players");
	usings.Add("Stareater.Utils.Collections");
	
	Generate("TechProgressCollection", "TechnologyProgress",
		new ViewInfo("Players", "Player", "Owner", ViewType.Collection)
	);
#>