<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/Collections/IndexedCollectionBase.tt" #><#
	
	namespaceName = "Stareater.GameData.Databases.Tables";
	usings.Add("Stareater.Galaxy");
	usings.Add("Stareater.Utils.Collections");
	
	Generate("WormholeCollection", "Tuple<StarData, StarData>",
		new ViewInfo("Endpoints", "StarData", "Item1;Item2", ViewType.Collection)
	);
#>