<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/CustomTuple.tt" #><#
	
	usings.Add("Stareater.GameData");

	Generate("Stareater.Controllers.Data", "GameCopy",
		new DataInfo("Game", "Game"),
		new DataInfo("Players", "PlayersRemap"),
		new DataInfo("Map", "GalaxyRemap")
	);
#>