<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)/Utils/CustomTuple.tt" #><#
	
	usings.Add("Stareater.GameData");
	
	Generate("Stareater.GameLogic", "ConstructionResult",
		new DataInfo("CompletedCount", "long"),
		new DataInfo("InvestedPoints", "double"),
		new DataInfo("FromStockpile", "double"),
		new DataInfo("Type", "Constructable"),
		new DataInfo("LeftoverPoints", "double")
	);
#>